[build]
  command = "npm run build"
  publish = "dist"

# Disable Netlify secrets scanning (because Vite frontend env vars are public anyway)
[build.environment]
  SECRETS_SCAN_ENABLED = "false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
